<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/wps/wpsApi.js"></script>
    <script src="/static/highlight/highlight.js"></script>
    <link rel="stylesheet" href="/static/highlight/highlight.css">
    <style>
        .div0 {
            margin-left: 200px;
        }

        .div1 {
            width: 30%;
            float: left;
        }

        .div2 {
            width: 50%;
            float: left;
        }

        #code {
            min-height: 500px;
        }
    </style>
</head>
<body>
<div class="div0">
    <div class="div1">
        <div>
            <p style="font-size: x-large;"><a href="http://127.0.0.1:8080/md/wpsjs">hello wps加载项 </a></p>
        </div>
        <a id="refreshWpsPublish" href="javascript:void(0)">通过刷新wps的publish.xml刷新加载项</a><br>
        <a id="refreshWpsJsplugins" href="javascript:void(0)">通过刷新wps的jsplugins.xml刷新加载项</a>
        <p></p>
        <a id="newDoc" href="javascript:void(0)">新建文件</a>
        <a id="editDoc" href="javascript:void(0)">编辑文件</a>
        <a id="editDocAuto" href="javascript:void(0)">编辑文件自定义保存url</a>
        <a id="editWithCloseButtonDoc" href="javascript:void(0)">编辑文件并关闭部分按钮</a><br>
        <a id="editDocWithExit" href="javascript:void(0)">编辑保存并退出wps</a>
        <a id="viewDoc" href="javascript:void(0)">查看文件</a>
        <p></p>
        <a id="tempRedEdit" href="javascript:void(0)">直接套红</a>
        <a id="tempRedEdit1" href="javascript:void(0)">点击按钮套红</a>
        <p></p>
        <a id="tempRepEdit" href="javascript:void(0)">模板替换(直接传数据)</a>
        <a id="tempRepEdit1" href="javascript:void(0)">模板替换(传输获取数据的url)</a>
        <p></p>
        <a id="getState" href="javascript:void(0)">获取状态</a>

        <p>WPS加载项发来的消息内容:</p>
        <textarea style="width: 97%; height: 326px" id="webnotifyspan">

        </textarea>
    </div>

    <!--<div>
        <textarea id="code" style="width: 1000px;height: 500px;">
        </textarea>
    </div>-->

    <div class="divFunction div2">
        <fieldset>
            <legend id="codeview">功能代码</legend>
            <pre id="codepre"><code id="code"></code></pre>
        </fieldset>
    </div>
</div>


<!--<div>
    <textarea style="width: 500px ; height: 500px">
            1.上载下载地址的保存
            GetDocParamsValue
    </textarea>
</div>-->

<script type="application/javascript">


    $(function () {
        $("#refreshWpsPublish").on("click", function () {
            code(refreshWpsPublish);
            refreshWpsPublish();
        });

        $("#refreshWpsJsplugins").on("click", function () {
            code(refreshWpsJsplugins);
            refreshWpsJsplugins();
        });

        $("#editDoc").on("click", function () {
            code(editWps);
            editWps();
        });


        $("#newDoc").on("click", function () {
            code(newWps);
            newWps();
        });
        $("#editDoc").on("click", function () {
            code(editWps);
            editWps();
        });
        $("#editDocAuto").on("click", function () {
            code(editWpsAuto);
            editWpsAuto();
        });
        $("#editDocWithExit").on("click", function () {
            code(editDocWithExit);
            editDocWithExit();
        });
        $("#viewDoc").on("click", function () {
            code(viewWps);
            viewWps();
        });
        $("#editWithCloseButtonDoc").on("click", function () {
            code(editWithCloseButtonDoc);
            editWithCloseButtonDoc();
        });

        $("#tempRedEdit").on("click", function () {
            code(tempRedEdit);
            tempRedEdit();
        });

        $("#tempRedEdit1").on("click", function () {
            code(tempRedEdit1);
            tempRedEdit1();
        });


        $("#tempRepEdit").on("click", function () {
            code(tempRepEdit);
            tempRepEdit();
        });

        $("#tempRepEdit1").on("click", function () {
            code(tempRepEdit1);
            tempRepEdit1();
        });

        $("#getState").on("click", function () {
            code(getState);
            getState();
        });
    });


    function refreshWpsPublish() {
        wpsApi.wpsPlugins({
            online: true,  // 在线离线 ，默认在线 , 可不传
            name: "WpsOAAssist", // 插件名,可默认不传
            type: "wps", // wps类型 ， 可用默认不传
            url: "http://127.0.0.1:8080/WpsOAAssist/", //加载url的地址 ， 必传
            cmd: "enable", //"enable", 启用， "disable", 禁用, "disableall", 禁用所有
            callback: function (res) {
                $("#webnotifyspan").text("更新publish.xml文件结果：" + JSON.stringify(res));
            } // 成功失败的回调
        }).refresh();
    }

    function refreshWpsJsplugins() {
        // 注意该方式在线上环境不适用，如果需要使用该方式的话，就需要手动修改oem.ini文件的配置，所有线上最好使用配置publish.xml的方式。
        // 两种方式只能存在一种
        $.get("http://127.0.0.1:8080/wpsJs/refresh", function (res) {
            $("#webnotifyspan").text("更新jsplugins.xml文件结果：" + JSON.stringify(res));
        })
    }


    function newWps() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test",
            openRevision: false,
            /*dispatcherPrefixFunction: function () {
                var tokenWindow = window.open("http://127.0.0.1:8080/wpsJs/setCookie", 'tokenWindow',
                    'height=1, width=1, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
            }*/
        }).add();
    }

    function editWps() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test", // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/test.docx",  // 文件加载地址，不传就是新建文件
            //protectType: wpsProtectTypeEnum.onlyEditNotation,
            //password: "123",
            //docPassword: "123",
            autoSaveToServer: false, // 是否开启自动保存文件功能
            buttonGroups: wpsApi.defineWpsButtonGroups.btnChangeToPDF, //打开哪些按钮，默认全部关闭
            openRevision: true, // 是够显示痕迹
            saveSuffix: "ofd", //上传文件时以ofd的方式保存
            saveCallback: function (message) {
                $("#webnotifyspan").text("保存之后回调：" + new Date() + JSON.stringify(message));
            }, //保存成功的回调函数
            openCallback: function (result) {
                $("#webnotifyspan").text("编辑回传：" + JSON.stringify(result));
            } // 打开wps之后回传
        }).edit();
    }

    function editWpsAuto() {
        var saveUrl = function (operationId, customExtend) {
            var saveFile = customExtend.fileUploadPath;
            if (operationId == "btnChangeToPDF" || operationId == "btnChangeToOFD" || operationId == "btnChangeToUOT") {
                return encodeURI(saveFile.format({fileId: customExtend.docId, fileevent: "vvvv"}));
            } else if (operationId == "redFile") {
                return encodeURI(saveFile.format({fileId: customExtend.docId, fileevent: "aaa"}));
            } else if (operationId == "edit") {
                return encodeURI(saveFile.format({fileId: customExtend.docId, fileevent: "proxyFile"}));
            } else {
                return encodeURI(saveFile.format({fileId: customExtend.docId, fileevent: ""}));
            }
        }

        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: saveUrl, // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/test.docx",  // 文件加载地址，不传就是新建文件
            autoSaveToServer: false, // 是否开启自动保存文件功能
            buttonGroups: wpsApi.defineWpsButtonGroups.btnChangeToPDF, //打开哪些按钮，默认全部关闭
            // 用户自己处理时用的对象
            customExtend: {
                fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test?fileId={docId}", docId: "123",
            },
            saveCallback: function (message) {
                $("#webnotifyspan").text("保存之后回调：" + new Date() + JSON.stringify(message));
            }, //保存成功的回调函数
            openCallback: function (result) {
                $("#webnotifyspan").text("编辑回传：" + JSON.stringify(result));
            } // 打开wps之后回传
        }).edit();
    }

    function editDocWithExit() {
        var wpsObject = wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test", // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/test.docx",  // 文件加载地址，不传就是新建文件
            openRevision: true, // 是够显示痕迹
            saveSuffix: "ofd", //上传文件时以ofd的方式保存
            saveCallback: function (message) {
                $("#webnotifyspan").text("保存之后回调：" + new Date() + JSON.stringify(message));
                //保存成功后推出wps
                wpsObject.exit(true);  // wpsObject.exit(true) 无提示强制退出
            }, //保存成功的回调函数,注意高版本的wps才支持回调，低版本的不支持
            openCallback: function (result) {
                $("#webnotifyspan").text("编辑回传：" + JSON.stringify(result));
            } // 打开wps之后回传，注意高版本的wps才支持回调，低版本的不支持
        });
        wpsObject.edit();
    }

    function viewWps() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/test.docx",  // 文件加载地址，不传就是新建文件
            //defalutCloseAllButton: false, // 是否关闭所有按钮操作 ， 默认为true
            /*buttonGroups: function () {
                var arr = [];
                for (const index in wpsApi.defineWpsButtonGroups) {
                    arr.push(wpsApi.defineWpsButtonGroups[index]);
                }
                return arr.toString();
            }()*/ // 关闭所有的操作按钮
        }).view();
    }

    function editWithCloseButtonDoc() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test", // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/test.docx",  // 文件加载地址，不传就是新建文件
            defalutCloseButton: false, //取消默认屏蔽的按钮
            buttonGroups: [wpsApi.defineWpsButtonGroups.btnPageSetup].toString() // 屏蔽页面设置按钮，添加自定义需要屏蔽的按钮组
        }).edit();
    }


    /*function tempRedEdit() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test", // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile",  // 文件加载地址，不传就是新建文件
            //bkInsertFile : "zhengwen", //正文替换标签,不传默认书签为 zhengwe
            insertFileUrl: "http://127.0.0.1:8080/wpsJs/getFile?temp=true",
            redFileElement: {fawenzihao: "123", "ceshi": "666测hi是"},
        }).load();
    }*/

    function tempRedEdit() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test", // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/test.docx",  // 文件加载地址，不传就是新建文件
            customRedFileUrl: "http://127.0.0.1:8080/wpsJs/getFile/红头文件1.docx", // 红头模板加载地址，这个不能为空
            redFileElement: {fawenzihao: "12345", "[测试替换字段]": "666测hi是"},  // 如果key以[]包含，则是替换字段，如果不以[]包含的话，则是书签名
            buttonGroups: [wpsApi.defineWpsButtonGroups.btnInsertRedHeader].toString(),
        }).redFile();
    }

    function tempRedEdit1() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test", // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/test.docx",  // 文件加载地址，不传就是新建文件
            //customRedFileUrl: "http://127.0.0.1:8080/wpsJs/getFile/红头文件.docx", // 红头模板加载地址，这个不能为空 , 使用按钮选择的时候这个参数就不能存在了
            buttonGroups: [wpsApi.defineWpsButtonGroups.btnInsertRedHeader].toString(),
            redFileElement: {fawenzihao: "12345", "[测试替换字段]": "666测hi是"},  // 如果key以[]包含，则是替换字段，如果不以[]包含的话，则是书签名
            customRedFileListUrl: "http://127.0.0.1:8080/wpsJs/getRedList?search={search}",  // 模板列表的加载地址 ，其返回值为：[{"name":"红头文件.docx","id":"红头文件.docx","url":"http://127.0.0.1:8080/wpsJs/getFile/红头文件.docx"},{"name":"红头文件1.docx","id":"红头文件1.docx","url":"http://127.0.0.1:8080/wpsJs/getFile/红头文件1.docx"}]
            //customRedFileBaseUrl: "http://127.0.0.1:8080/wpsJs/getFile/{id}",  // {id} 模板的加载地址，这个不能变 , 这个可以不传，但是customRedFileListUrl的返回值中就必须包含url
        }).redFile();
    }

    // 套模板
    function tempRepEdit() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test", // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/rep.doc",  // 文件加载地址，不传就是新建文件
            repFileElement: [
                {
                    "keyName": "标题",
                    "keyValue": "测试公文标题",
                    "keyType": 1 //直接替换
                }, {
                    "keyName": "主送",
                    "keyValue": "测试主送啊啊啊的",
                    "keyType": 1 //直接替换
                }, {
                    "keyName": "流程意见",
                    "keyValue": "[{\"keyText\":\"1、\",\"keyValue\":\"请xxx批示意见可以长一点，意见可以长一点，意见可以长一点，意见可以长一点，意见可以长一点，\",\"userName\":\"张三\",\"userPicUrl\":null,\"keyDate\":\"2019年8月12日\",\"userPicSize\":0,\"fontSize\":0}," +
                        "{\"keyText\":\"2、\",\"keyValue\":\"请xxx指示,意见可以长一点，\",\"userName\":\"李四\",\"userPicUrl\":null,\"keyDate\":\"2019-8-12 14:20:24\",\"userPicSize\":0,\"fontSize\":0}," +
                        "{\"keyText\":\"3、\",\"keyValue\":\"http://127.0.0.1:8080/WpsOAAssist/icon/c_bookmark.png\",\"userName\":\"尼古拉-赵四\",\"userPicUrl\":null,\"keyDate\":\"2019年8月12日 14:20:24\",\"userPicSize\":0,\"fontSize\":0}," +
                        "{\"keyText\":\"4、\",\"keyValue\":\"请xxx批复一下,意见可以长一点，意见可以长一点，意见可以长一点，意见可以长一点，\",\"userName\":\"杰神\",\"userPicUrl\":null,\"keyDate\":\"2019年8月12日 14:20:24\",\"userPicSize\":0,\"fontSize\":0}," +
                        "{\"keyText\":\"5、\",\"keyValue\":\"http://127.0.0.1:8080/WpsOAAssist/icon/c_bookmark.png\",\"userName\":\"王五\",\"userPicUrl\":\"http://127.0.0.1:8080/WpsOAAssist/icon/c_bookmark.png\",\"keyDate\":\"2019年8月12日 14:20:24\",\"userPicSize\":0,\"fontSize\":0}]",
                    "keyType": 2 // json字串带格式的替换
                },
                {
                    "keyName": "流程意见2",
                    "keyValue": "[{\"keyText\":\"1、\",\"keyValue\":\"请xxx批示\",\"userName\":\"张三\",\"userPicUrl\":null,\"keyDate\":\"\",\"userPicSize\":0,\"fontSize\":0}," +
                        "{\"keyText\":\"2、\",\"keyValue\":\"请xxx指示\",\"userName\":\"李四\",\"userPicUrl\":null,\"keyDate\":\"\",\"userPicSize\":0,\"fontSize\":0}," +
                        "{\"keyText\":\"3、\",\"keyValue\":\"http://127.0.0.1:8080/static/picture/test.jpg\",\"userName\":\"王五\",\"userPicUrl\":null,\"keyDate\":\"\",\"userPicSize\":0,\"fontSize\":0}]",
                    "keyType": 2 // json字串带格式的替换
                }],  // 如果key以[]包含，则是替换字段，如果不以[]包含的话，则是书签名
        }).repFile();
    }

    function tempRepEdit1() {
        wpsApi.wps({
            docId: "123",
            userName: "测试人员",
            fileUploadPath: "http://127.0.0.1:8080/wpsJs/saveFile/test", // 文件上载地址
            fileLoadPath: "http://127.0.0.1:8080/wpsJs/getFile/rep.doc",  // 文件加载地址，不传就是新建文件
            customRepJsonDataUrl: "http://127.0.0.1:8080/wpsJs/getRepJson", //该接口返回的数据和参数 repFileElement 的值保持一致，返回json字串
        }).repFile();
    }

    function getState() {
        wpsApi.wps({
            openCallback: function (result) {
                $("#webnotifyspan").text("打开回传：" + JSON.stringify(result));
            }
        }).getDocInfo();
    }

    function code(fun) {
        document.getElementById("code").innerText = fun.toString();
        hljs.highlightBlock(document.getElementById("code"));
    }
</script>

</body>
</html>